<section class="fixed-banner" id="fixedBanner">
  <span class="close">X</span>
  <span class="detail">SPONSORED BY</span>
  <div class="wrapper">
    <div class="display">
      <img src="../img/ergodox-logo.png" alt="" width="429" height="65" title="ErgoDox EZ">
    </div>
    <span class="decoration"></span>
    <div class="column">
      <div class="title">Pre-assembled, improved, with a 2-year warranty.</div>
      <a href="https://ergodox-ez.com/?source=ergodox-io" class="link" title="Customize yours today">Customize yours today</a>
    </div>
  </div>
</section>
